* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box; /*Nao deixa criar barra de rolamento horizontal*/
}

body{
    margin: 0;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 100, 4);
    padding: 20px;
    font-size: large;
    color: aliceblue;
}

header div{
    background-color: transparent;
}

.menu {
    display: flex;
    gap: 45px;
    
}

.menu a{
    color: aliceblue;
    text-decoration: None;
    background-color: transparent;
}

a{
    color: lightgreen;
    text-decoration:underline;
    background-color: transparent;
}
.divpai{
    background-color: beige;
    width: 100%;
    height: 100%;
}

.lgrande{
    font-size: 100px;
}

.subtitulo{
    font-size: 70px;
}

.divmain {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #060b13 100%), 
        url(imagens/backgroundmain.png);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex; 
    flex-direction: column;
    color: aliceblue;
    height: 1000px;
    width: 100%;
}

.divsobre {
    background-image: 
        linear-gradient(to bottom, #060b13 0%, rgba(0, 0, 0, 0) 25%), 
        url(imagens/backgroundsobre.png);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    align-items:baseline    ;
    display: flex;
    flex-direction: column;
    text-align:justify;
    color: aliceblue;
    height: fit-content;
    width: 100%;
}

.divport {
    background-image: 
        linear-gradient(to bottom, #060b13 0%, rgba(0, 0, 0, 0) 25%), 
        url(imagens/backgroundport.jpg);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    align-items:baseline    ;
    display: flex;
    flex-direction: column;
    text-align:justify;
    color: aliceblue;
    height: fit-content;
    width: 100%;
}


p{
    margin-left: 10%;
    margin-right: 10%;
}


.image-column {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.image-column img {
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    margin-top: 25px;
}

.image-row img {
    width: 50px;             
    height: 50px;             
    object-fit: contain;      /* Mantém a proporção da imagem sem distorcer */
    transition: transform 0.3s ease; /* Transição suave para o efeito hover */
}

.image-row img:hover {
    transform: scale(1.2);    /* Aumenta levemente o ícone ao passar o mouse */
}